.main-container {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(245, 184, 182, 0.9);
}

.img-container {
  height: 100%;
  width: 100%;
  background: hsla(2deg, 100%, 60%, 0.9);
}

.container {
  backdrop-filter: blur(50px);
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: hsl(2deg 99% 63%);
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(4px, 5%, 120px);
  height: 80%;
  margin-top: clamp(0px, 20%, 600px);
}

.login-container > div {
  margin: clamp(8px, 4%, 32px);
}

.input {
  width: clamp(172px, 90%, 500px);
}

.button {
  width: clamp(172px, 90%, 500px);
}
